@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-baloo: "Baloo 2", sans-serif;
  --font-lucki: "Luckiest Guy", sans-serif;
}


.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;               /* ancho del scrollbar vertical */
  height: 8px;              /* alto del scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;   /* color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);  /* color del thumb */
  border-radius: 10px;                          /* esquinas redondeadas */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);  /* color al pasar el mouse */
}

/* Firefox */
* {
  scrollbar-width: thin;             /* "auto" | "thin" | "none" */
  scrollbar-color: rgba(255,255,255,0.4) transparent;
}